<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document Title</title>
        <link rel="stylesheet" href="../publics/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../publics/libs/font-awesome-4/css/font-awesome.min.css">
        <link rel="stylesheet" href="../publics/libs/font-awesome-5/css/fontawesome.css">
        <style>
            *{margin:0}body{padding:20px}
            .my-form {
                -webkit-transition:all linear 0.5s;
                transition:all linear 0.5s;
                background: transparent;
            }
            .my-form.ng-invalid {
                background: red;
            }.app{
                width: 320px;
            }
        </style>
    </head>
    <body>
        <div ng-app="myapp" class="app">
            <form name="myForm" ng-controller="FormController" class="my-form">
                Username: <input name="input" ng-model="username" required>
                <span class="error">Required!</span><br>
                <tt>userType = {{username}}</tt>
            </form>
        </div>












        <script src="../publics/libs/jquery/dist/jquery.min.js"></script>
        <script src="../publics/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../publics/libs/font-awesome-5/js/fontawesome.js"></script>
        <script src="../publics/libs/angular/angular.min.js"></script>
        <script>
            $(document).ready(function(){
                
            });
        </script>
        <script>
                angular.module('myapp', [])
                    .controller('FormController', ['$scope', function($scope) {
                    
                }]);
        </script>
    </body>
</html>